@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-color: #161619;
    --sub-color: #E6E8E6;
    --decor1-color:#3772FF;
    --decor2-color:#3268e8;
    --padding-xs: 10px;
    --padding-sm: 2rem;
    --padding-md: 5rem;
    --padding-lg: 10rem;
    --font-reg: 2rem;
    --font-sm: 3rem;
    --font-xs: 1.5rem;
    --font-md:5rem;
    --font-lg:10rem;
    
}

html,body {
    font-family: 'Inter', sans-serif;
    background-color:var(--main-color);
    height: 100%;
    margin: 0;
    color: var(--sub-color);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-left: var(--padding-lg);
    margin-right: var(--padding-lg);
}

h1 {
    font-size: var(--font-sm);
}

h2 {
    font-size: var(--font-reg);
}

.folder-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    gap: 0.6rem;  
    background-color: black;
}

.folder-tab {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    color: var(--sub-color);
    width:var(--padding-m);
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    border-top-left-radius: var(--padding-xs);
    border-top-right-radius: var(--padding-xs);
    position: relative;
    top: 3px;
    transition: all 0.3s;
}

.folder-tab:hover {
    background-color: var(--decor2-color);
    top: 0;
}
.folder-tab:last-child {
  border-right: none; /* remove last divider */
}

.folder-tab.active {
    width:var(--padding-lg);
    background-color: var(--main-color);
    top: 0;
    border-bottom: 3px solid transparent;
}
#intro {
    font-size: var(--font-reg);
    margin-top: -3.7rem;
}

.viewer {
    margin: var(--padding-md);
    border-radius: var(--padding-xs);
    border-color: transparent;
    transition: all 1s ease-in-out;
}
.viewer::-webkit-scrollbar {
    width: 4px;
}
.viewer::-webkit-scrollbar-track {
    background: transparent;
}
.viewer::-webkit-scrollbar-thumb {
    background:var(--color-border);
    border-radius: 2px;
}

#timeline, #projects, #courses{
    padding-top: var(--padding-md);
    padding-bottom:var(--padding-sm);
}

.part {
    display: flex;
    flex-direction: row;
    font-size: var(--font-xs);
}
.date{
    flex:0.45;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content:hover {
    color:var(--decor1-color);
}

button {
    padding: var(--padding-xs)+2rem;
    border: transparent;
    background-color: var(--decor1-color);
    color: var(--sub-color);
    border-radius: var(--padding-xs);
    display: inline-block;
    width: auto;
    font-size: var(--font-reg)-2rem;
 }

button:hover {
    transform: scale(1.1);
    background-color: var(--decor2-color);
    color: var(--sub-color);
}
 
footer {
    text-align: center;
    font-size: small;
    color:var(--sub-color);
    background-color: black;
}